<div class="contact-form">
  <h2>Entre em contato</h2>
  <div class="p-field">
    <label for="name"><strong> NOME: </strong> </label>
    <input id="name" type="text" pInputText>
  </div>
  <div class="p-field">
    <label for="email"><strong>EMAIL: </strong> </label>
    <input id="email" type="email" pInputText>
  </div>
  <div class="p-field">
    <label for="message"><strong>MENSAGEM: </strong></label>
    <textarea id="message" pInputTextarea></textarea>
  </div>
  <button pButton type="button" label="ENVIAR"></button>
</div>
