.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2rem 0;
  height: 100vh; /* Faz o conteúdo ocupar a altura total da tela */
}

.about-me .profile-photo {
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
  box-shadow: 0px 4px 15px#4bbddb;
}

.about-me h2 {
  font-size: 2rem;
  color: #3a92a8;
  margin-top: 1rem;
}

.about-me p {
  font-size: 1.2rem;
  color: #666;
  margin-top: 0.5rem;
}
.img{
  margin-top: -40px;
}

#animated-text, #animated-subtext {
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  width: 0;
  opacity: 0;
  animation: typing 3s steps(30, end) forwards, blink-caret 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}
