.clientes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .cliente-card {
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .cliente-card:hover {
    transform: scale(1.05);
  }
  
  .cliente-logo {
    max-width: 250px;
    max-height: 200px;
    object-fit: contain;
  }
h2{
    margin-top: -150px;
margin-left: 740px;
}
  