<footer class="footer">
  <div class="container">
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/guilherme-carvalho-1b5107262/" target="_blank" class="social-icon">
        <i class="pi pi-linkedin"></i>
      </a>
      <a href="https://github.com/Guilherme645" target="_blank" class="social-icon">
        <i class="pi pi-github"></i>
      </a>
      <a href="https://discord.com/users/guilotus" target="_blank" class="social-icon">
        <i class="pi pi-discord"></i>
      </a>
    </div>
    <p>&copy; 2024 AllCortex. Todos os direitos reservados.</p>
  </div>
</footer>
