<section class="about-me">
  <h2>Sobre a Allcortex</h2>
  <p class="typing-animation">
    A Allcortex é uma jovem e dinâmica empresa especializada na criação de interfaces frontend 
    inovadoras e responsivas. Fundada há apenas um ano, a Allcortex rapidamente se destacou no mercado, 
    entregando soluções visuais e interativas que não apenas impressionam, mas também oferecem uma 
    experiência de usuário excepcional. Com um foco na estética, usabilidade e performance, a Allcortex 
    transforma ideias em realidades digitais, ajudando seus clientes a se conectarem com seus públicos 
    de maneira eficaz e envolvente.
  </p>
</section>
