<section class="about-me">
  <div class="intro-text">
    <h2 class="typewriter">Olá, meu nome é Guilherme Carvalho!</h2>
    <p>Seja bem-vindo ao meu portfólio Front-end.</p>
    <div class="button-group">
      <button pButton type="button" label="Baixar Currículo" icon="pi pi-download" (click)=" downloadCV()" class="p-button-secondary"></button>
      <button pButton type="button" label="GitHub" icon="pi pi-github" class="p-button-github"></button>
    </div>
  </div>
  <div class="img">
    <img src="./assets/avatar.png" alt="Profile Photo" class="profile-photo">
  </div>
</section>

<!-- Botão Flutuante do WhatsApp -->
<div class="floating-whatsapp">
  <a href="https://wa.me/+5561984264979" target="_blank" class="whatsapp-button">
    <i class="pi pi-whatsapp"></i>
  </a>
</div>